body {
  margin: 0;
  background-color: #ffffff;
}

h1, h2 {
  text-align: center;
  margin-top: 0;
  font-family: 'Pacifico', cursive;
}

p{
  text-align:center;
  font-family: 'Kavivanar', cursive;
  margin: 7px;
}

.container{
  color: #0a043c;
  position: relative;
  text-align:center;
}

.profile{
  text-align:center;
}

.btn-holder{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width:40%;
}

.btn{
  font-family: 'Patrick Hand', cursive;
  font-size: medium;
  background-color: #a3ddcb;

  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  color: #0a043c;
  display: inline-block;

  width: 32%;
  height: auto;
  border-radius: 25px;
  border: 2px solid #0a043c;
}

.btn:hover{
  background-color: #ffe3de;
  transition: 500ms;
}

.img{
  width: 50px;
  height: 50px;
}

.strategy-holder{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom:25px;
  width:60%;

}

.strategy-item{
  font-size: medium;
  background-color: #a3ddcb;

  text-align: center;
  color: #0a043c;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  margin:0;

  padding:0;
  width: 32%;
  height: auto;
  border-radius: 25px;
  border: 2px solid #0a043c;
}



.strategy-item:hover{
  background-color: #ffe3de;
  transition: 500ms;
}




.bear-b-bull-img{
  width:35%;
  height: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  color: #ffe3de;
  background-color: #03506f;
  text-decoration: none;
  padding-top:2px;
  padding-bottom:32px;
  bottom: 30px;
}

.footer-link{
  color: #ffe3de;
  text-decoration: none;
}

.footer-link:visited{
  color: #ffe3de
}



#bottom_lightblue_bar{
  background-color: #a3ddcb;
  position: fixed;
  width:110%; height:10px;
  bottom: 0; left:-10px;
}
#bottom_blue_bar{
  background-color: #03506f;
  position: fixed;
  width:110%; height:30px;
  bottom: 10px; left:-10px;
}
